<!-- <app-selectable-list
  (onSelect)="onSelectUser($event)"
  [items]="users"
  backgroundColor="yellow"
></app-selectable-list> -->

<div #titulo>
  Hola mundo
</div>

<app-selectable-list
  backgroundColor="green"
  (onSelect)="onSelectUser($event)"
  [(items)]="courses"
></app-selectable-list>

ELEMENTO PADRE = {{ courses }}

<!--
  [] Entrada
  () Salida

  [()] Entrada/Salida



  <ul>
  <li style="cursor: pointer;" (click)="onSelectUser(user)" *ngFor="let user of users">
    {{ user }}
  </li>
</ul> -->
